.dialogWrapper {
  @apply fixed inset-0 z-50 overflow-y-auto;

  & .dialog {
    @apply flex items-end justify-center md:items-center;
    @apply h-screen px-4 text-center;

    & .overlay {
      @apply fixed inset-0 z-0 bg-black bg-opacity-20;
    }

    & .content {
      @apply absolute bottom-0 my-8 inline-block w-full max-w-[90%] md:bottom-[unset] md:max-w-xs;
      @apply overflow-hidden text-left align-middle;
      @apply transform rounded-xl bg-white shadow transition-all;
    }

    /* Transition */
    & .enterOverlayTransition {
      @apply duration-200 ease-out;
    }
    & .enterFromOverlayTransition {
      @apply opacity-0;
    }
    & .enterToOverlayTransition {
      @apply opacity-100;
    }
    & .leaveOverlayTransition {
      @apply duration-200 ease-in;
    }
    & .leaveFromOverlayTransition {
      @apply opacity-100;
    }
    & .leaveToOverlayTransition {
      @apply opacity-0;
    }

    & .enterModalTransition {
      @apply duration-200 ease-out;
    }
    & .enterFromModalTransition {
      @apply scale-95 opacity-0;
    }
    & .enterToModalTransition {
      @apply scale-100 opacity-100;
    }
    & .leaveModalTransition {
      @apply duration-200 ease-in;
    }
    & .leaveFromModalTransition {
      @apply scale-100 opacity-100;
    }
    & .leaveToModalTransition {
      @apply scale-95 opacity-0;
    }
  }
}
