.wrapper {
  @apply flex w-full items-center justify-between bg-white p-3.5;
  & .task {
    @apply flex w-11/12 cursor-pointer items-center space-x-3 text-lg;

    &.done {
      @apply text-gray-300 line-through;

      & .checkbox {
        @apply border-0 bg-blue-500 text-white shadow shadow-blue-500;
      }
    }

    & .title {
      @apply w-10/12 whitespace-normal;
    }

    & .checkbox {
      @apply h-6 w-6 rounded-full border border-gray-300 shadow;
    }
  }
  & .deleteButton {
    @apply h-6 w-6;

    & .icon {
      @apply h-6 w-6 text-gray-200 hover:text-red-500;
      @apply transition-all duration-300;
    }
  }
}
