.header {
  @apply flex items-center justify-between;

  & button {
    @apply rounded-full px-2.5 py-1 text-xs;
    @apply transition-all duration-300;

    &.removeAllButton {
      @apply border border-gray-500 bg-white text-gray-500 shadow-sm shadow-gray-200;
      @apply hover:bg-gray-500 hover:text-white;
    }

    &.addTaskButton {
      @apply border border-blue-500 bg-white text-blue-500 shadow-sm shadow-blue-200;
      @apply hover:bg-blue-500 hover:text-white;
    }
  }
}
