.search {
  @apply flex items-center justify-between space-x-2;
  @apply w-full bg-white shadow;
  @apply rounded-xl p-4;

  & input {
    @apply text-lg;
    @apply w-full bg-transparent focus:outline-none focus:ring-0;

    &::placeholder {
      @apply text-gray-400;
    }
  }

  & .icon {
    @apply h-6 w-6 text-gray-400;
  }
}
