.button {
  @apply inline-flex items-center justify-center;
  @apply select-none transition-all duration-300;
  @apply cursor-pointer rounded-lg ring-0 focus:ring-0;

  &.outline {
    @apply text-black shadow;
  }

  &.remove {
    @apply border border-red-500 bg-red-500 text-white;
  }
}
