.addTask {
  @apply flex items-center justify-between space-x-2;
  @apply w-full bg-white shadow;
  @apply rounded-xl p-3.5 pl-5;

  & input {
    @apply pr-2 text-lg;
    @apply w-full bg-transparent focus:outline-none focus:ring-0;

    &::placeholder {
      @apply text-gray-400;
    }
  }

  & .submitButton {
    @apply bg-blue-500 p-1 text-white shadow shadow-blue-400;
    & .icon {
      @apply h-6 w-6 text-current;
    }
  }
}
