.modal {
  @apply flex flex-col items-center border bg-white px-5 py-5;

  & .title {
    @apply text-center text-xl font-bold text-black;
  }

  & .description {
    @apply pt-2 pb-6 text-center text-sm text-gray-600;
  }

  & .iconWrapper {
    @apply flex flex-grow items-center justify-center;
    @apply my-6 rounded-full bg-red-50 p-4;

    & .icon {
      @apply h-24 w-24 text-red-500;
    }
  }

  & .buttons {
    @apply flex w-full items-center space-x-3;
  }

  & .button {
    @apply w-full rounded-lg px-2.5 py-2.5 md:py-2;
  }
}
