.tasks {
  @apply max-h-[70vh] w-full overflow-y-scroll;
  @apply rounded-xl shadow;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */

  & .task:not(:last-child) {
    @apply border-b border-gray-200;
  }
}

.noTasks {
  @apply flex items-center justify-center text-gray-400;
  @apply h-20 rounded-xl bg-white shadow;
}
