.wrapper {
  @apply rounded-xl bg-white;

  & .item {
    @apply flex w-full animate-pulse items-center space-x-5 border-b border-gray-200 p-4;

    & .checkbox {
      @apply h-6 w-6 rounded-full bg-gray-200;
    }

    & .title {
      @apply h-3 w-24 rounded-lg bg-gray-200;
    }
  }
}
